<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLOTS</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>

    <h1>SLOTS</h1>
    <button id="spinButton">Spin</button>
    <p id="numbers"></p>
    <p id="result"></p>
    <p id="prize"></p>
    

    <a href="/">INDEX</a>

    <script>
        $(document).ready(function() {
            $("#spinButton").click(function() {
                $.ajax({
                    url: "/slotsGet",
                    method: "GET",
                    success: function(response) {
                        // Display result, prize, and the random numbers
                        $("#numbers").text("Numbers: " + response.numbers.join(" "));
                        $("#result").text(response.result);
                        $("#prize").text("Prize: " + response.prize + "€");
                        
                    },
                    error: function(error) {
                        console.error("Error:", error);
                    }
                });
            });
        });
    </script>

</body>
</html>
